body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
	padding-top:70px;
}
@media (max-width: 500px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
		top: 0;
		border-width: 0 0 1px;
	}
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
		margin-top: 7.5px;
	}
	.navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
  		display:block !important;
	}
}

body {
    color: #c5ebf7;
    font-size: 15px;
    font-family: 'Catamaran', sans-serif;
	line-height: 1.80857;
}
/* 

a {
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
	border-radius: 5% !important;
    border: 1px solid #ddd im !important;
} */

h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
	line-height: 120% !important;
	text-shadow: 0 0 2px grey, 0 0 2px black;
    color: lightpink;
    margin: 0
}

h1 {
    font-size: 24px
}

h2 {
    font-size: 22px
}

h3 {
    font-size: 18px
}

h4 {
    font-size: 16px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 13px
}


.lead {
    font-size: 18px;
    line-height: 30px;
    color: #767676;
    margin: 0;
    padding: 0;
}

blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}

ul, li, ol{
	list-style: none;
	margin: 0px;
	padding: 0px;
}
button:focus{
	outline: none;
}

.form-control::-moz-placeholder {
    color: #12557f;
    opacity: 1;
}


.tooltip-1 {
	display: inline-block;
	position: relative;
	color: #00cb86;
	opacity: 1;
}

.tooltip__wave {
	width: 30%;
	height: 20px;
	position: absolute;
	bottom: -10px;
	left: 0;
	right: 0px;
	margin: 0 auto;
	overflow: hidden;
}

.tooltip__wave span {
	position: absolute;
	left: -100%;
	width: 200%;
	height: 100%;
	background-size: 50% auto;
}
.title-box{
	text-align: center;
	margin-bottom: 30px;
}
.title-box h2{
	font-size: 42px;
	font-family: 'Catamaran', sans-serif;
	color: lightpink;
	font-weight: 500;
	position: relative;
	padding-bottom: 30px;
	margin-bottom: 15px;
}

.title-box h2 span{
	color: #00cb86;
	text-decoration: underline;
}
.about-main-info h2{
	font-size: 40px;
	font-family: 'Catamaran', sans-serif;
}
.about-main-info h2 span{
	color: #00cb86;
	text-decoration: underline;
}
.about-main-info{
	margin-bottom: 30px;
}

.about-m{
	border: 2px solid #00cb86;
	box-shadow: 0 10px 25px 0 rgba(0,0,40,.2);
  text-align: center;
  width: 80%;
  display: inline-block;
}

.about-m ul#banner {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden;
  margin: 0 auto;
}

.about-m ul#banner li {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.about-m ul#banner li img { 
	visibility: hidden; 
	width: 100%;
}

.about-m ul#banner li canvas {
  position: absolute;
  top: 0;
  left: 0;
}


.about-img{
	padding: 30px 0px;
}

.about-img img{
	border-radius: 10px;
}

.about-m ul{
	display: block;
	text-align: center;
	padding-bottom: 30px;
}
.about-m ul li{
	display: inline-block;
	text-align: center;
}

.about-main-info h2{
	font-size: 32px;
	color: #333333;
	font-weight: 500;
}

.about-main-info a.new-btn-d.br-2{
	border: 2px solid #12557f;
}

.about-main-info a.new-btn-d::before{
	background: rgba(18,85,127,0.2);
}

.hvr-radial-out{
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	overflow: hidden;
	background: #e1e1e1;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
}

.hvr-radial-out::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #333333;
    border-radius: 100%;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-radial-out:hover::before, .hvr-radial-out:focus::before, .hvr-radial-out:active::before {
    -webkit-transform: scale(2);
    transform: scale(2);
}
ol {
	list-style: decimal;
	margin: 0 0 2rem 0;
	padding-left: 1.25rem;
}

	ol li {
		padding-left: 0.25rem;
	}

ul {
	list-style: disc;
	margin: 0 0 2rem 0;
	padding-left: 1rem;
}

	ul li {
		padding-left: 0.5rem;
	}

	ul.divided {
		list-style: none;
		padding-left: 0;
	}

		ul.divided li {
			border-top: solid 1px;
			padding: 0.5rem 0;
		}

			ul.divided li:first-child {
				border-top: 0;
				padding-top: 0;
			}

dl {
	margin: 0 0 2rem 0;
}

	dl dt {
		display: block;
		font-weight: 600;
		margin: 0 0 1rem 0;
	}

	dl dd {
		margin-left: 2rem;
	}

ul.divided li {
	border-top-color: #eeeeee;
}

ul.icons li a.icon:hover:before {
	color: #18bfef;
}

ul.icons.alt li .icon:before {
	box-shadow: inset 0 0 0 2px #eeeeee;
}

ul.icons.alt li a.icon:hover:before {
	box-shadow: inset 0 0 0 2px #18bfef;
}



/*PROKECTS SECTION*/
body {
	-ms-overflow-style: scrollbar;
}
html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

ul.actions {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	cursor: default;
	list-style: none;
	margin-left: -1rem;
	padding-left: 0;
}

	ul.actions li {
		padding: 0 0 0 1rem;
		vertical-align: middle;
	}

	ul.actions.special {
		-moz-justify-content: center;
		-webkit-justify-content: center;
		-ms-justify-content: center;
		justify-content: center;
		width: 100%;
		margin-left: 0;
	}
/* Main */


	#main > .post {
		padding: 8rem 8rem 6rem 8rem ;
	}

		#main > .post header.major > .date {
			margin-top: -2rem;
		}

		#main > .post header.major > h1, #main > .post header.major h2 {
			font-size: 4rem;
			line-height: 1.1;
			margin: 0 0 2rem 0;
		}

		#main > .post.featured {
			text-align: center;
		}

		@media screen and (max-width: 1280px) {

			#main > .post {
				padding: 6rem 4rem 4rem 4rem ;
			}

		}

		@media screen and (max-width: 736px) {

			#main > .post {
				padding: 4rem 2rem 2rem 2rem ;
			}

				#main > .post header.major > .date {
					margin-top: -1rem;
					margin-bottom: 2rem;
				}

				#main > .post header.major > h1, #main > .post header.major h2 {
					font-size: 2.5rem;
					line-height: 1.2;
					margin: 0 0 1.5rem 0;
				}

		}

	#main > .posts {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		-moz-flex-wrap: wrap;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-moz-align-items: -moz-stretch;
		-webkit-align-items: -webkit-stretch;
		-ms-align-items: -ms-stretch;
		align-items: stretch;
		text-align: center;
		width: 100%;
		padding: 0;
	}

		#main > .posts > * {
			-moz-flex-shrink: 1;
			-webkit-flex-shrink: 1;
			-ms-flex-shrink: 1;
			flex-shrink: 1;
			-moz-flex-grow: 0;
			-webkit-flex-grow: 0;
			-ms-flex-grow: 0;
			flex-grow: 0;
		}

		#main > .posts > * {
			width: 50%;
		}

		#main > .posts > * {
			padding: 4rem;
			width: 50%;
		}

		#main > .posts > article {
			border-color: #eeeeee;
			border-left-width: 2px;
			border-style: solid;
			border-top-width: 2px;
			text-align: center;
		}

			#main > .posts > article > :last-child {
				margin-bottom: 0;
			}

			#main > .posts > article:nth-child(2n - 1) {
				border-left-width: 0;
			}

			#main > .posts > article:nth-child(-n + 2) {
				border-top-width: 0;
			}

		@media screen and (max-width: 980px) {

			#main > .posts > * {
				width: 50%;
			}

			#main > .posts > * {
				padding: 2.5rem;
				width: 50%;
			}

		}

		@media screen and (max-width: 736px) {

			#main > .posts > * {
				width: 100%;
			}

			#main > .posts > * {
				padding: 2rem;
				width: 100%;
			}

			#main > .posts > article:nth-child(2n - 1) {
				border-left-width: 2px;
			}

			#main > .posts > article:nth-child(-n + 2) {
				border-top-width: 2px;
			}

			#main > .posts > article:nth-child(n) {
				border-left-width: 0;
			}

			#main > .posts > article:nth-child(-n + 1) {
				border-top-width: 0;
			}

			#main > .posts > article .image {
				max-width: 25rem;
				margin-left: auto;
				margin-right: auto;
			}

		}

.added-image{
width: 75%;
margin: 20px;
text-align: center;
-webkit-box-shadow: 0px 1.5px 20px 1px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1.5px 20px 1px rgba(0,0,0,0.75);
box-shadow: 0px 1.5px 20px 1px rgba(0,0,0,0.75);
}
.resume-image{
width: 50%;
margin: 40px;
text-align: center;
}

/*NAVBAR EDITS*/

.navbar {
  font-family: "Montserrat", sans-serif;
  border: none;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background-color: white;
  color: black;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: black;
}
.navbar-default .navbar-brand {
  font-weight: 700;
  font-size: 1.25em;
  letter-spacing: 3px;
}

.container-fluid {
  background-color: #fff;
}

.navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}