body {
  padding-top:70px;
	-ms-overflow-style: scrollbar;
  background: rgb(169,136,187);
  background: linear-gradient(180deg, rgba(169,136,187,1) 0%, rgba(116,118,159,1) 10%, rgba(33,42,181,1) 35%, rgba(1,12,190,1) 60%, rgba(36,44,181,1) 86%, rgba(116,118,159,1) 100%);
}
h1,
h2,
h3,
h5,
h6 {
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: 120% !important;
    text-shadow: 2px 1px 8px rgb(0, 0, 0);
    color: white;
    margin: 0
}
.icon{
  color: white;
  text-shadow: 1px 1px 20px black;
  padding: 10px;
}
.icon:hover{
  text-shadow: 1px 1px 20px white;
  color: lightblue;
}
.title-box{
	text-align: center;
	margin-bottom: 30px;
}
.title-box h2{
  font-size: 4.5rem;
}

.about-m{
	border: 2px solid #00cb86;
	box-shadow: 0 10px 25px 0 rgba(255, 255, 255, 0.2);
  width: 80%;
  display: inline-block;
  margin-bottom: 50px;
}
.project-m{
  background-color: white;
  margin-top: 0;
	border: 2px solid #00cb86;
	box-shadow: 0 10px 25px 0 rgba(0,0,40,.2);
  text-align: center;
  margin: .2rem;
  max-width: 100%;
  display: inline-block;
  margin-bottom: 25px;
}
*, *:before, *:after {
	box-sizing: inherit;
}
.title-wrap{
  color: white;
  vertical-align: center;
  padding-top: 18vh;
}
.title-wrap h1 {
  font-size: 5rem;
  line-height: 1.1;
  margin: 0 0 2rem 0;
}

.title-wrap h2 {
  font-size: 2.75rem;
  line-height: 1.3;
  margin: 0 0 1.5rem 0;
}

.title-wrap h3 {
  font-size: 2.25rem;
  margin: 0 0 1.5rem 0;
}

.title-wrap h4 {
  font-size: 2rem;
}
.section-1{
  text-align: center;
  height: 97vh;
}
/*ARROW DOWN CSS START *************/
.content {
  padding: 3rem;
}
#more-arrows {
  width: 75px;
  height: 65px;
}
#more-arrows:hover polygon {
  fill: #FFF;
  transition: all 0.2s ease-out;
}
#more-arrows:hover polygon.arrow-bottom {
  transform: translateY(-18px);
}
#more-arrows:hover polygon.arrow-top {
  transform: translateY(18px);
}
polygon {
  fill: #FFF;
  transition: all 0.2s ease-out;
}
polygon.arrow-middle {
  opacity: 0.7;
}
polygon.arrow-top {
  opacity: 0.4;
}

/*ARROW DOWN CSS END******************/
.w-link{
  text-decoration: none;
  color: black;
  background-color: white;
  border-style: 1px solid;
  border-color:rgb(79, 89, 95);
  box-shadow: 0 .5px 3px black;
  margin: 0 10px 10px 10px;
}
.w-link:hover{
  text-decoration: none;
  background-color: rgb(231, 246, 255);
  border-style: 2px solid;
  border-color:lightskyblue;
  box-shadow: 0 0 5px lightskyblue;
  text-shadow: 1px 1px 10px white;
  color: rgb(0, 0, 0) !important;
}
#round-profile{
  width: 15rem;
  height: 15rem;
  border-radius: 15rem;
  background-color: white;
  padding: 0.5rem;
  margin-bottom: 20px;
  box-shadow: 0 .5px 10px black;
;
}
#profile-photo{
  width: 100%;
  box-shadow: 0 5px 15px 0 black;
}
.box-a1{
  border-radius: 10px;
  background-color: #f7f7f7;
  box-shadow: 1px 0 15px 2px rgb(0, 0, 0);
  background-size: 8px 8px;
  background-image:  repeating-linear-gradient(to right, #dfe1ff, #dfe1ff 0.4px, #f7f7f7 0.4px, #f7f7f7);

}
.box-a1 h2{
  color: rgb(245, 245, 245);
    -webkit-text-stroke: .3px black;
    -webkit-text-fill-color: white;
}
.box-a1 h3{
  color: rgb(245, 245, 245);
  -webkit-text-stroke: .3px black;
  -webkit-text-fill-color: white;
  padding: 10px;
}

.col-sm-12{
  text-align: center;
}
#info-text{
  text-align: left;
  margin: 35px;
}

/*NAVBAR EDITS*/
/*SYMPLISTIC NAVBAR EDITS*/

.navbar {
  background-color: red;
  font-family: "Montserrat", sans-serif;
  border: none;
  box-shadow: 0 0 25px black;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  color: black;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: black;
}
.navbar-default .navbar-brand {
  font-weight: 700;
  font-size: 1.25em;
  letter-spacing: 3px;
}

.container-fluid {
  background-color: #fff;
}

.navbar-toggle {
  border: none;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
}


/*FOOTER*/
/* Footer */
#footer a {
  color: #717981;
  border-bottom-color: rgba(113, 121, 129, 0.5);
  margin: 10px;
}
#footer a:hover {
  text-decoration: none;
  color: #18bfef !important;
}
#footer > section.split > section {
  padding: 3rem 4rem 1rem 4rem ;
  border-bottom: solid 2px #e2e2e2;
}
#footer > section.split.contact > section {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-align-items: center;
  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
  padding: 3.15rem 4rem;
}
#resume-data{
  text-align: center;
  margin: auto;
}
#resume-document{
  text-align: center;
  margin: auto;
  width: 85%;
  height: 84.5vh;
  overflow:hidden;
  position: relative;
  display: inline-block;
}
#resume-cradle{
  margin: auto;
  text-align: center;
  display: inline-block;
  width: 81.5%;
  height: 100vh;
  padding: 20px;
  margin: 50px;
}

.block{
  height: 20px;
}

